@font-face {
    font-family: chemi fonti;
    src: url(fonts/OldStandardTT-Bold.ttf);
}
h3 {
    font-family: chemi fonti;
}
@font-face {
    font-family: chemi fonti;
    src: url(fonts/OldStandardTT-Regular.ttf);
}
p {
    font-family: chemi fonti;
} 
@font-face {
    font-family: chemi fonti;
    src: url(fonts/OldStandardTT-Regular.ttf);
}
p {
    font-family: chemi fonti;
} 